[{heman, [
	{rules, [
		{{<<"iplaywar">>, <<"queuelength">>}, increase, <<"Queue Length.">>},
		{{<<"iplaywar">>, <<"queueminutes">>}, larger, <<"Length in minutes items are in the queue.">>},
		{{<<"iplaywar">>, <<"dbtimeouts">>}, increase, <<"Number of MongoDB timeouts.">>},
		{{<<"iplaywar">>, <<"webexceptions">>}, increase, <<"Number of web exceptions raised.">>},
		{{<<"iplaywar">>, <<"noident">>}, increase, <<"Number of non-existant identities requested.">>}
	]}
]}].
